{{chat-user user=user}}
<div class="ui comments">
    <h3 class="ui dividing header">Main channel</h3>
    {{#each messages as |message|}}
        {{chat-message user=message.user body=message.body date=message.date avatar=message.avatar}}
    {{/each}}
    {{#if user.authenticated}}
        <form class="ui reply form">
            <div class="field">
                <div class="ui action input">
                    {{input value=body maxlength=messageSizeLimit id="reply"}}
                    <button class="ui {{if body.length 'primary' 'disabled' }} icon button" {{action 'send' }}>
                        <i class="send icon"></i>
                    </button>
                </div>
            </div>
        </form>
    {{/if}}
</div>