{{google-recaptcha onVerify=(action 'verify') isVisible=(if notRobot false true)}}
{{chat-user-profile user=user open=openProfile selectedAvatar=user.avatar}}
{{#if user.authenticated}}
    <div class="ui feed" style="margin-top: 0;">
        <div class="event">
            <div class="label">
                {{small-avatar avatar=user.avatar onClick=(action 'openProfile')}}
            </div>
            <div class="content">
                {{user.name}}
            </div>
            <div class="meta">
                <button class="ui small red basic button" {{action 'logout'}}>Logout</button>
            </div>
        </div>
    </div>
{{else}}
    {{#if notRobot}}
        <form class="ui form">
            <div class="ui action input">
                {{input value=userName placeholder="Introduce yourself"}}
                <button class="ui {{if userName.length 'green' 'disabled' }} icon button" {{action 'authenticate'}}>
                    <i class="checkmark link icon"></i>
                </button>
            </div>
        </form>
    {{/if}}
{{/if}}