{{google-recaptcha onVerify=(action 'verify') isVisible=(if notRobot false true)}}
{{chat-user-profile user=user open=openProfile selectedAvatar=user.avatar}}
{{#if user.authenticated}}
    <div class="ui feed" style="margin-top: 0;">
        <div class="event">
            <div class="label" {{action 'openProfile'}}>
                <div class="ui mini circular instant move down reveal">
                    <div class="visible content">
                        {{small-avatar avatar=user.avatar }}
                    </div>
                    <div class="hidden content">
                        <i class="blue users link icon"></i>
                    </div>
                </div>
            </div>
            <div class="content">
                {{user.name}}
            </div>
            <div class="meta">
                <button class="ui small red basic button" {{action 'logout'}}>Logout</button>
            </div>
        </div>
    </div>
{{else}}
    {{#if notRobot}}
        <form class="ui form">
            <div class="ui action input">
                {{input value=userName placeholder="Introduce yourself" maxlength=userNameLimit}}
                <button class="ui {{if userName.length 'green' 'disabled' }} icon button" {{action 'authenticate'}}>
                    <i class="checkmark link icon"></i>
                </button>
            </div>
        </form>
    {{/if}}
{{/if}}