<div class="ui stackable grid">
    <div class="twelve wide column">
        {{whiteboard-frame activeWhiteboard=activeWhiteboard mode=drawMode onClear=(action 'handleClear') onNewElement=(action 'queueForSaving') active=active}}
    </div>

    <div class="four wide column">
        <form class="ui whiteboard form">
            <div class="field">
                <div class="ui action input">
                    {{input value=activeWhiteboard.title placeholder="Name it" maxlength=titleLimit id='title' focus-out='saveTitle'}}
                    {{#link-to 'whiteboard' (query-params active='') class='green ui icon button'}}
                        <i class="plus icon"></i>
                    {{/link-to}}
                </div>
            </div>
            <div class="field">
                <div class="ui icon buttons">
                    <button class="ui button" data-id="line" {{action 'setDrawMode' 'line'}}>
                        <i class="write icon"></i>
                    </button>
                    <button class="ui button" data-id="erase" {{action 'setDrawMode' 'erase'}}>
                        <i class="erase icon"></i>
                    </button>
                    <button class="ui red disabled button" data-id="erase" {{action 'clearWhiteboard'}}>
                        <i class="refresh icon"></i>
                    </button>
                </div>
                {{#if savingInProcess}}
                    <div class="ui active small inline loader"></div>
                {{/if}}
            </div>
        </form>
        <div class="ui list">
            <h3 class="ui dividing header">Whiteboard list</h3>
            {{#each whiteboards as |whiteboard|}}
                <div class="item">
                    <i class="whiteboard icon"></i>
                    <div class="content">
                        {{link-to whiteboard.title 'whiteboard' (query-params active=whiteboard.id)}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>