<style type="text/css">
    .ui.whiteboard.list .active {
        text-decoration: underline;
    }
</style>
<div class="ui stackable grid">
    <div class="twelve wide column">
        {{whiteboard-frame
        activeWhiteboard=activeWhiteboard
        mode=drawMode
        onClear=(action 'handleClear')
        onNewElement=(action 'queueForSaving')
        active=active
        stroke=stroke
        strokeWidth=strokeWidth
        fill=fill
        }}
    </div>

    <div class="four wide column">
        <form class="ui whiteboard form">
            <div class="field">
                <div class="ui action input">
                    {{input value=activeWhiteboard.title placeholder='Name it' maxlength=titleLimit id='title' focus-out='saveTitle'}}
                    {{#link-to 'whiteboard' (query-params active='new') class='green ui icon button'}}
                        <i class="plus icon"></i>
                    {{/link-to}}
                </div>
            </div>
            <div class="mode field">
                <div class="ui small icon buttons">
                    <button class="ui button" data-id="line" {{action 'setDrawMode' 'line'}}>
                        <i class="write icon"></i>
                    </button>
                    <button class="ui button" data-id="erase" {{action 'setDrawMode' 'erase'}}>
                        <i class="erase icon"></i>
                    </button>
                </div>
                {{#if savingInProcess}}
                    <div class="ui active small inline loader"></div>
                {{/if}}
            </div>
            <div class="stroke field">
                <div class="ui small icon buttons">
                    <button class="ui black basic icon button" data-id="black" {{action 'setStroke' 'black'}}>
                        <i class="icon paint brush"></i>
                    </button>
                    <button class="ui olive basic icon button" data-id="#32CD32" {{action 'setStroke' '#32CD32'}}>
                        <i class="icon paint brush"></i>
                    </button>
                    <button class="ui blue basic icon button" data-id="#0E6EB8" {{action 'setStroke' '#0E6EB8'}}>
                        <i class="icon paint brush"></i>
                    </button>
                    <button class="ui green basic icon button" data-id="#016936" {{action 'setStroke' '#016936'}}>
                        <i class="icon paint brush"></i>
                    </button>
                    <button class="ui red basic icon button" data-id="#B03060" {{action 'setStroke' '#B03060'}}>
                        <i class="icon paint brush"></i>
                    </button>
                    <button class="ui violet basic icon button" data-id="#EE82EE" {{action 'setStroke' '#EE82EE'}}>
                        <i class="icon paint brush"></i>
                    </button>
                    <button class="ui pink basic icon button" data-id="#FF1493" {{action 'setStroke' '#FF1493'}}>
                        <i class="icon paint brush"></i>
                    </button>
                </div>
            </div>
            <div class="inline stroke width field">
                {{input type='range' min='1' max='8' value=strokeWidth }}
                <label>Stroke width {{strokeWidth}}</label>
            </div>
            <div class="inline fill field">
                <div class="ui slider checkbox">
                    {{input type='checkbox' checked=fill }}
                    <label>Fill path</label>
                </div>
            </div>
        </form>
        <div class="ui whiteboard list">
            <h3 class="ui dividing header">Whiteboard list [{{whiteboards.length}}]</h3>
            {{#each whiteboards as |whiteboard|}}
                {{#link-to 'whiteboard' (query-params active=whiteboard.id) class='item'}}
                    <i class="file image outline icon"></i><div class="content">{{whiteboard.title}}</div>
                {{/link-to}}
            {{/each}}
        </div>
    </div>
</div>